<% if @idea == nil %><% @idea = Idea.new %><% end %>
<%= form_for @idea, :html => {:class => "form-horizontal span12"} do |f| %>
	<% if @idea.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>
			<ul>
				<% @idea.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<fieldset>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :group_id, :value => @group.id %>
		<div class="control-group">
			<%= f.label :title, :class => "control-label" %>
			<div class="controls"><%= f.text_field :title %></div>
		</div>
		<div class="control-group">
			<%= f.label :description, :class => "control-label" %>
			<div class="controls"><%= f.text_area :description, :class => "input-xxlarge", :rows => 5 %></div>
		</div>
		<div class="form-actions">
			<%= f.submit nil, :class => "btn btn-primary" %>
		</div>
	</fieldset>
<% end %>
