<% if @idea == nil %><% @idea = Idea.new %><% end %>
<%= form_for @idea, :html => {:class => "form-horizontal"} do |f| %>
	<% if @idea.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>
			<ul>
				<% @idea.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<fieldset>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<div><%= f.label :title, :class => "control-label" %></div>
		<div class="control-group">
			<div class="controls"><%= f.text_field :title %></div>
		</div>
		<div><%= f.label :description, :class => "control-label" %></div>
		<div class="control-group">
			<div class="controls"><%= f.text_area :description, :class => "input-xlarge", :rows => 5 %></div>
		</div>
		<div><%= f.label :group, :class => "control-label" %></div>
		<div class="control-group">
			<div class="controls">
			<%= f.select :group_id,options_from_collection_for_select(current_user.groups, 'id', 'title') %>
			<%#= f.collection_select :group_id,current_user.groups,:id,:title, :selected => 'mobile' %></div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cancle</a>
			<%= f.submit 'save', :class => "btn btn-primary" %>
		</div>
	 
	</fieldset>
<% end %>
