<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :to_id %><br />
    <%= f.number_field :to_id %>
  </div>
  <div class="field">
    <%= f.label :target_id %><br />
    <%= f.number_field :target_id %>
  </div>
  <div class="field">
    <%= f.label :target_type %><br />
    <%= f.text_field :target_type %>
  </div>
  <div class="field">
    <%= f.label :notification_type %><br />
    <%= f.number_field :notification_type %>
  </div>
  <div class="field">
    <%= f.label :read_at %><br />
    <%= f.datetime_select :read_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
