<h1>Listing notifications</h1>

<table>
  <tr>
    <th>User</th>
    <th>To</th>
    <th>Target</th>
    <th>Target type</th>
    <th>Notification type</th>
    <th>Read at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notifications.each do |notification| %>
  <tr>
    <td><%= notification.user %></td>
    <td><%= notification.to_id %></td>
    <td><%= notification.target_id %></td>
    <td><%= notification.target_type %></td>
    <td><%= notification.notification_type %></td>
    <td><%= notification.read_at %></td>
    <td><%= link_to 'Show', notification %></td>
    <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
    <td><%= link_to 'Destroy', notification, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notification', new_notification_path %>
