<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @notification.user %>
</p>

<p>
  <b>To:</b>
  <%= @notification.to_id %>
</p>

<p>
  <b>Target:</b>
  <%= @notification.target_id %>
</p>

<p>
  <b>Target type:</b>
  <%= @notification.target_type %>
</p>

<p>
  <b>Notification type:</b>
  <%= @notification.notification_type %>
</p>

<p>
  <b>Read at:</b>
  <%= @notification.read_at %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
