<div id="idea<%= group_idea.id %>" class="row">
	<div class="spanhalf idea-vote">
		<%= render :partial => "ideas/voteit", :locals => { :idea => group_idea } %>
	</div> 
	<div class="span10 idea">
		<div><%= group_idea.title %></div>
		<div><%= group_idea.description %></div>
	</div>
	<div class="span1 idea-user">
		<%# home_group.user_id %>
	</div>
	<div class="span12 idea-comment">
				<% if !group_idea.comments.blank? %>
					<% group_idea.comments.each do |c| %>
						<i class="icon-comment idea-comment-icon"></i><%= c.body %>
					<% end %>
				<% end %>
			</div>
	<div class="span12 idea-comment">
		<%= render :partial => "comments/form", :locals => {:group_idea => group_idea} %>
	</div>
</div>
