<p id="notice"><%= notice %></p>
<div class="row">
	<div class="span12">
		<h2><%= @group.title %></h2>
		<p><%= @group.description %></p>
	</div>
</div>
<div class="row">
	<%= render :partial => "ideas/form" %>
</div>
<div class="row idea">
	<%= render :partial => "groups/group_idea", :collection => @ideas %>
</div>
<%# link_to 'Edit', edit_group_path(@group) %><%# link_to 'Back', groups_path %>
