<div class="row">
	<div class="span12">
		<h3><%= link_to home_idea.title, home_idea %></h3>
		<div><%= home_idea.description %></div>
	</div>
</div>
<div class="row">
	<% if !home_idea.comments.blank? %>
		<% home_idea.comments.each do |c| %>
			<div class="span12"><i class="icon-comment"></i><%= c.body %>
				<span class="help-block">
					<h5><%= c.user.email %> <small><%= c.created_at.strftime("%b %d, %Y") %></small></h5>
				</span>
			</div>
		<% end %>
	<% end %>
</div>
<div class="row">
	<%= render :partial => "comments/form", :locals => {:home_idea => home_idea} %>
</div>
<hr>
